.col-4 {
    background-color: rgba(0, 0, 0, 0.1);
    border-right: 15px solid white;
}

.col1 {
    text-align: left;
    line-height: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 35px;
    color: rgb(60, 60, 60);
}

.col-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.col2 {
    font-family: 'Amiri', serif;
    text-align: right;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    background-image: url(https://i.niupic.com/images/2019/04/23/6gen.jpg);
    background-size: cover;
    background-position: center;
}

.card {
    text-align: center;
    padding: 10px;
    border: 1.5px solid rgba(115, 195, 195, 0.5);
    color: rgb(10, 95, 90);
    border-radius: 8px;
}

.card:hover {
    text-align: center;
    padding: 10px;
    border: none;
    color: rgb(10, 95, 90);
    border-radius: 8px;
    background-color: rgba(145, 233, 220, 0.5);
}

.col3 {
    text-align: center;
    padding: 10px;
}

#skill {
    border-top: 1px solid rgb(225, 225, 225);
    color: rgb(100, 100, 100);
    padding-top: 10px;
}

.icon {
    width: 70%;
    max-width: 200px;
    border-radius: 50%;
    border: white solid 4px;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-right: 3px solid rgb(115, 195, 195);
    border-left: 3px solid rgb(115, 195, 195);
    padding: 5px;
}

.icon:hover {
    width: 70%;
    max-width: 200px;
    border-radius: 50%;
    border: white solid 4px;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;
    border-top: 3px solid rgb(115, 195, 195);
    border-bottom: 3px solid rgb(115, 195, 195);
}

.title1 {
    width: 90%;
    height: 40px;
    color: rgb(60, 60, 60);
    background-color: white;
    display: table;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.title2 {
    color: rgb(255, 255, 255);
    background-image: url(https://i.niupic.com/images/2019/04/23/6gen.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.col {
    text-align: center;
}

.circle {
    display: inline-block;
    margin: auto;
    width: 7px;
    height: 7px;
    background-color: rgb(115, 195, 195);
    border-radius: 50%;
    animation: cir 4s infinite linear;
}

@keyframes cir {
    0% {
        background-color: rgb(115, 195, 195);
    }
    50% {
        background-color: white
    }
    100% {
        background-color: rgb(115, 195, 195);
    }
}

.fa-caret-square-up {
    color: rgb(10, 95, 90);
}

.fa-caret-square-up:hover {
    border-bottom: none;
    color: rgb(10, 95, 90);
}