#background {
    position: relative;
    background-image: url(./pic/game.jpg);
    width: 800px;
    height: 450px;
}

#background #farmland1 {
    position: absolute;
    top: 222px;
    left: 310px;
}

#background #farmland2 {
    position: absolute;
    top: 317px;
    left: 350px;
}

#money {
    position: absolute;
    top: 5px;
    left: 420px;
}

#seed {
    position: absolute;
    top: 10px;
    left: 600px;
}

#book {
    position: absolute;
    top: 10px;
    left: 690px;
}

#ans {
    position: absolute;
    top: 150px;
    left: 330px;
    display: none;
    background-image: url(./pic/frame.png);
    background-size: cover;
    height: 162px;
    width: 240px;
    text-align: center;
    background-color: rgba(255, 254, 247, 0.6);
}

#ans img {
    height: 100px;
    width: 100px;
    margin: auto;
}

#ans div {
    color: rgb(225, 120, 172);
}

#pic img {
    position: absolute;
    top: 40px;
    left: 310px;
    /* display: none; */
    height: 400px;
    width: 400px;
    background-color: rgba(255, 254, 247, 0.6);
}

#story {
    position: absolute;
    top: 30px;
    left: 80px;
    background-color: rgba(255, 254, 247, 0.6);
    z-index: 10;
}

#story img {
    height: 400px;
    width: 620px;
}